# git
.git*

# IDE
.vscode

# repository docs
LICENSE
*.md
docs

# build
build

# tmp files
*.log

# python files
*__pycache__


# utils and scripts
utils
requirements.txt
*.sh

# tests
services/api_config/tests
services/document_db/tests
services/dummy/tests
*conftest.py
